.card {
    width: 500px;
}

.card-header {
    text-align: center;
}

.card-body {
   /* width: 450px; */
}

.card-img {
    height: 250px;
    width: 250px;
    /* background: grey; */
    float: left;
    display: inline-block;
    margin-right: 20px;
    border-radius: 0px;
    border: 2px solid #d3d3d3
}

.card-text {
    /* padding: 10px; */
}

@media only screen and (max-width: 680px) {
    .card-img {
        /* width: 100%; */
        margin-bottom: 10px;
    }

    
}