.card {
    max-width: 768px;
    padding: 5px 0px 5px 5px;
    
}

.inner {
    border: none;
}

.about {
    max-width: 500px;
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
}

#inner_card {
    border: none; 
    padding-right: 5px;
}

.about_img {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    max-height: 400px;
}



