footer {
    height: 50px;
    background: grey;
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: table;
    z-index: 1;
    color: white;
    text-align: center;
    
}

footer p {
    margin-top: 20px;
}