nav {
    background: #2c549c;
}

.navbar_content a {
    color: white;
}

.navbar-link:hover  {
    color: #c5c5c5;
    text-decoration: none;
}

.navbar-link {
    padding-left: 5px;
    padding-right: 5px;
}